<center><img src="https://media-exp1.licdn.com/dms/image/C4E22AQEbIXZiRVkJPQ/feedshare-shrink_2048_1536/0?e=1602115200&v=beta&t=XHE3KbzKbKy54WYDTfq7VFNUPfNjoIOrjBw6dzFPTfA" width="1000"></center>

# SDC Certified Program in Python for Data Science

## Tema 5. Entendimiento de datos

### Prof. Manuel Sigüeñas, M.Sc.(c) 

[Perfil](https://socialdata-peru.com/learning/teacher2.php)

### Prof. Lenguajes de Programación para Ciencia de Datos / Agile Data Scientists / SCRUMStudy Certified Trainer


[msiguenas@socialdata-peru.com](msiguenas@socialdata-peru.com)

<a id='beginning'></a>

En esta sección veremos una breve introducción a conceptos básicos y una primera aproximación a los datos a través del análisis exploratorio:

1. [Variables e indicadores](#part1) 
2. [Tipos de datos](#part2)
3. [Análisis exploratorio de datos (AED)](#part3)
4. [Codificación y particionamiento de datos](#part4)
5. [Laboratorio 5](#part5)

In [1]:
from IPython.display import Image
%matplotlib inline

<a id='part1'></a>
## Variables e indicadores

- **Operacionalización**: proceso de conceptos abstractos a fenómenos observables. Es importante la Operacionalización, porque lo que utilizamos en la investigación no son conceptos, sino indicadores.
- **Instrumentación**: pasos para formular observaciones.
- **Medición**: La asignación de valores que representan propiedades. El resultado de esta es que tenemos un valor que podemos asociar con alguna variable en un caso dado.
- **Variables**: Son caracter´ısticas o propiedades del fenomeno que se investiga cuya variación, a lo largo del tiempo y del espacio, son susceptibles de medirse u observarse.
- **Indicadores**: constituyen los elementos m´ as concretos de una variable y son los que permiten observarlas y medirlas.

### ¿Qué es una variable estadística?

- Una variable es cualquier función que asigna números a los elementos de una población. Tales números miden alguna característica de los elementos de la población.
- Los números se asignan de acuerdo con una escala y representan la medición de una determinada característica en cada unidad estadística.
- En una población se pueden definir muchas variables estadísticas.
- Rango de una variable estadística: es el conjunto formado por todos los valores que puede asumir la variable estadística.

### Según su naturaleza:

- **V. Independiente (predictora o exógena)**: es aquella que funciona como causa u origen del fenómeno.
- **V. Interviniente**: aquella que de alguna manera influye en el resultado, pero no necesariamente se encontrara presente en todos los procesos.
- **V. Dependiente (objetivo o endógena)**: funciona como efecto de la variable independiente.

### Según el tipo de medición:

- **Medición**: es el proceso de observación de una caracteristica de interés (variable), sobre una unidad estadística.
- **Escala de medición**: es una regla (función) que asigna números a las mediciones realizadas en las unidades estad´ısticas. Los números asignados por las escalas deben informar lo más precisamente posible acerca de las características de cada unidad observada.

# Escalas de Medición

## Escala Nominal

Proceden de clasificaciones o tipologías cuyas clases o tipos no se pueden ordenar.
Se obtiene simplemente nombrando los casos mediante cierto esquema de clasificación predeterminado.

- a. No asignar un caso a más de una categoría.

- b. Las categorías deberían establecerse de manera que todos los casos puedan asignarse a alguna categoría.

Ejemplo: sistema de votación en el congreso. 1= voto a favor; 0= voto en contra; -1= no voto.

## Escala Ordinal

- Utilizan criterios de medición basados en conjunto de categorías que pueden ordenarse de mayor a menor. 
- Permite no solo clasiﬁcar los fenómenos por categorías, sino también ordenarlos por grados.

Ejemplo: nivel educativo

## Escala Intervalo

- Se funda en la idea de que hay alguna unidad normalizada de la propiedad que se mide. 
- Esta escala no tiene un cero real sino un cero relativo, deﬁnido arbitrariamente y que no indica ausencia de la característica medida. 
- El punto cero de la escala es arbitrario y se pueden usar valores negativos, estos no signiﬁcan ausencia o carencia de valor y existe una unidad de igualdad entre los valores y sus diferencias se pueden expresar como razones.

Ejemplo: escalas de valoración de una institución democrática.

## Escala Razón

- Es una escala de intervalos en la que además los números asignados representan las cantidades de la característica que se mide.
- La proporción entre dos números corresponde a la misma proporción entre las cantidades de la característica medida. 
- El cero aquí es real e indica ausencia total de la característica que mide la variable.

Ejemplos: inﬂación, salario, porcentaje de aprobación presidencial.

## Escalas Cuantitativas Discretas y Continuas

- Es una manera de clasiﬁcar a las variables cuantitativas de escala intervalo y razón.
- Discreta: puede tomar valores dentro de un conjunto determinado de posibilidades. También son conocidas como escalas cuantitativas de conteo. 

Ejemplo: número de hijos.

- Continuas: toma valores dentro de un continuo, es decir, un intervalo de valores. Los valores nunca pueden ser medidos con exactitud y dependen del instrumento de investigación. 

Ejemplo: índice de apoyo al sistema político.

____
[Ir a inicio](#beginning)

<a id='part2'></a>
# Tipos de Datos

In [2]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura02ConjuntoDeDatos.jpg', width=600)

FileNotFoundError: [Errno 2] No such file or directory: 'D:/Python/1. Nivel I/5/imagenes/Figura02ConjuntoDeDatos.jpg'

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura03ConjuntosDeDatos.jpg', width=600)

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura04DatosDeRegitro.jpg', width=600)

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura06DatosDeDocumentos.jpg', width=600)

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura07DatosDeTransacciones.jpg', width=600)

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura08DatosDeGrafos.jpg', width=600)

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura09DatosOrdenados.jpg', width=600)

In [ ]:
Image(filename='D:/Python/1. Nivel I/5/imagenes/Figura10DatosEspaciales.jpg', width=600)

<a id='part3'></a>
## Análisis exploratorio de datos (AED)

- Motivación: Comprender mejor los datos. Medidas de tendencia central, variabilidad y dispersión. 
- Características de la dispersión de los datos:
- Mediana, máximo, mínimo, cuantiles, outliers, varianza, etc. 
- Análisis con las gráﬁcas de Boxplots o cuantiles. 
- Distribución

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [8]:
os.getcwd()#directorio de trabajo

'C:\\Users\\sergi\\OneDrive\\Documentos\\SIR_personal\\Python_SDC_HP-i3'

In [9]:
os.chdir(R"C:\Users\sergi\OneDrive\Documentos\SIR_personal\Python_SDC_HP-i3")#directorio de trabajo

In [10]:
os.getcwd()

'C:\\Users\\sergi\\OneDrive\\Documentos\\SIR_personal\\Python_SDC_HP-i3'

In [11]:
FileCSV="MarketingDirecto.csv"
mark=pd.read_csv(FileCSV,  #ruta del archivo
                 sep=',') #separador de atributo que usa el fichero csv
mark.head() #head() para mostrar los primeros 5 valore o filas

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,Adulta,Femenino,Propia,Soltero,Lejos,47500,0,Alto,6,755
1,Media,Masculino,Alquilada,Soltero,Cerca,63600,0,Alto,6,1318
2,Joven,Femenino,Alquilada,Soltero,Cerca,13500,0,Bajo,18,296
3,Media,Masculino,Propia,Casado,Cerca,85600,1,Alto,18,2436
4,Media,Femenino,Propia,Soltero,Cerca,68400,0,Alto,12,1304

In [12]:
mark.tail()

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
995,Joven,Femenino,Alquilada,Soltero,Cerca,19400,1,NaN,18,384
996,Media,Masculino,Alquilada,Soltero,Lejos,40500,1,NaN,18,1073
997,Adulta,Masculino,Propia,Soltero,Cerca,44800,0,Medio,24,1417
998,Media,Masculino,Propia,Casado,Cerca,79000,2,Medio,18,671
999,Joven,Masculino,Alquilada,Casado,Cerca,53600,1,Medio,24,973

In [15]:
# Controlando valores nulos
mark.isnull().any().any()

True

In [16]:
mark.isnull().any()

Edad         False
Genero       False
Vivienda     False
Ecivil       False
Ubicacion    False
Salario      False
Hijos        False
Historial     True
Catalogos    False
Monto        False
dtype: bool

Para quitar todos los valores NA en la columna Historical

In [17]:
mark["historial_null"] =mark["Historial"].isnull()

In [18]:
mark2 = mark.loc[(mark['historial_null'] == True)]

In [19]:
mark2

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto,historial_null
9,Adulta,Masculino,Propia,Casado,Lejos,80700,0,NaN,18,3034,True
10,Joven,Masculino,Alquilada,Casado,Cerca,43700,1,NaN,12,927,True
15,Media,Femenino,Propia,Casado,Lejos,83100,1,NaN,12,2766,True
24,Joven,Femenino,Alquilada,Casado,Cerca,41700,1,NaN,6,521,True
26,Media,Masculino,Propia,Soltero,Cerca,62800,3,NaN,6,707,True
...,...,...,...,...,...,...,...,...,...,...,...
990,Media,Masculino,Propia,Casado,Cerca,123800,2,NaN,18,3537,True
992,Media,Masculino,Propia,Casado,Cerca,101700,1,NaN,6,941,True
994,Joven,Masculino,Alquilada,Soltero,Cerca,17600,0,NaN,6,273,True
995,Joven,Femenino,Alquilada,Soltero,Cerca,19400,1,NaN,18,384,True
996,Media,Masculino,Alquilada,Soltero,Lejos,40500,1,NaN,18,1073,True

In [20]:
len(mark2)

303

In [21]:
#porcentaje de valores null por columna
(mark.isnull().sum() / len(mark))*100

Edad               0.0
Genero             0.0
Vivienda           0.0
Ecivil             0.0
Ubicacion          0.0
Salario            0.0
Hijos              0.0
Historial         30.3
Catalogos          0.0
Monto              0.0
historial_null     0.0
dtype: float64

In [22]:
mark.isnull().mean()*100

Edad               0.0
Genero             0.0
Vivienda           0.0
Ecivil             0.0
Ubicacion          0.0
Salario            0.0
Hijos              0.0
Historial         30.3
Catalogos          0.0
Monto              0.0
historial_null     0.0
dtype: float64

In [23]:
#número de casos
len(mark)

1000

In [24]:
type(mark)

pandas.core.frame.DataFrame

In [25]:
mark.dtypes

Edad              object
Genero            object
Vivienda          object
Ecivil            object
Ubicacion         object
Salario            int64
Hijos              int64
Historial         object
Catalogos          int64
Monto              int64
historial_null      bool
dtype: object

In [26]:
mark.columns.to_series().groupby(mark.dtypes).groups

{bool: ['historial_null'], int64: ['Salario', 'Hijos', 'Catalogos', 'Monto'], object: ['Edad', 'Genero', 'Vivienda', 'Ecivil', 'Ubicacion', 'Historial']}

In [27]:
# Agrupando columnas por tipo de datos
tipos = mark.columns.to_series().groupby(mark.dtypes).groups

In [28]:
tipos

{bool: ['historial_null'], int64: ['Salario', 'Hijos', 'Catalogos', 'Monto'], object: ['Edad', 'Genero', 'Vivienda', 'Ecivil', 'Ubicacion', 'Historial']}

In [29]:
# Armando lista de columnas categóricas
ctext = tipos[np.dtype('object')]
len(ctext)  # cantidad de columnas con datos categóricos. 
ctext

Index(['Edad', 'Genero', 'Vivienda', 'Ecivil', 'Ubicacion', 'Historial'], dtype='object')

In [30]:
cnum = tipos[np.dtype("int64")]
len(cnum)
cnum

Index(['Salario', 'Hijos', 'Catalogos', 'Monto'], dtype='object')

In [31]:
# Armando lista de columnas numéricas
columnas = mark.columns  # lista de todas las columnas
columnas

Index(['Edad', 'Genero', 'Vivienda', 'Ecivil', 'Ubicacion', 'Salario', 'Hijos',
       'Historial', 'Catalogos', 'Monto', 'historial_null'],
      dtype='object')

In [32]:
cnum = list(set(columnas) - set(ctext))
len(cnum)

5

In [33]:
cnum

['Hijos', 'Salario', 'Monto', 'historial_null', 'Catalogos']

In [ ]:
#Bucle
# Completando valores faltantas datos cuantititavos
for c in cnum:
    media = mark[c].mean()
    mark[c] = mark[c].fillna(media)

In [ ]:
#Bucle
# Completando valores faltantas datos categóricos
for c in ctext:
    mode = mark[c].mode()[0]
    mark[c] = mark[c].fillna(mode)

In [ ]:
mode= mark["Ecivil"].mode()[0]
mode

In [ ]:
mark["Ecivil"].fillna(mode)

In [ ]:
#Controlando que no hayan valores faltantes
mark.isnull().any().any()

In [ ]:
#porcentaje de valores null por columna
(mark.isnull().sum() / len(mark))*100

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
mark.head()

In [ ]:
# Guardando el dataset preprocesado
# Save transform datasets
mark.to_csv("mark_procesado.csv", index=False)

#### Variable cualitativa

In [ ]:
# Grafico de porcentaje de solteros
civil = mark.groupby('Ecivil').Ecivil.count() 
civil

In [ ]:
str(round(502* 1.0/ civil.sum()*100, #valores
      2)) #valores de los decimales

In [ ]:
str(round(498*1.0/ civil.sum() *100, #valores
 2)) #valores decimales

In [ ]:
# Creando las leyendas del grafico.
labels = [ str(round(x * 1.0 / civil.sum() * 100.0, 2)) + '%'  for x in civil ]
labels

In [ ]:
labels[0]

In [ ]:
labels[1]

In [ ]:
labels[0] = 'Casado ' + labels[0]
labels[1] = 'Soltero ' + labels[1]

In [ ]:
labels

In [ ]:
plt.pie(civil, labels=labels)
plt.title('Estado civil')
plt.show()

In [ ]:
# Analizando el sueldo
# Creando un segmentos de importes
imp_segm = pd.cut(mark['Salario'], #variable
                  [(mark['Salario'].min()-1), 15000,  20000, 30000, 40000, 100000, (mark['Salario'].max() +1)]) 
#puntos de corte
imp_segm[498]

In [ ]:
pd.value_counts(imp_segm)

In [ ]:

# Creando el grafico de barras desde pandas
plot = pd.value_counts(imp_segm).plot(kind='bar',
                                      title='Sueldo', rot=35)
plot.set_ylabel('Sueldo de donantes')
plot.set_xlabel('Rango de sueldos')
plt.show()

In [ ]:
# Agrupación por segmento segun sueldo.
pd.value_counts(imp_segm)

In [ ]:
# importe de salario promedio
mark['Salario'].mean()

In [ ]:
# Gráfico de cajas del importe de donación
sns.boxplot(list(mark['Salario']))
plt.title('Boxplot de Salario')
plt.show()

In [ ]:
mark.groupby('Hijos').size()

In [ ]:
# Grafico del número de hijo
mark.groupby('Hijos').size().plot(kind='bar')
plt.title('Distribución por hijos')
plt.show()

In [ ]:
gr= sns.boxplot(x="Genero", y="Salario", data=mark)
plt.title("Sueldo según sexo")
plt.show()

In [ ]:
# sueldo segun el género
mark[(mark.Salario <= 150000)
             & (mark.Genero.isin(['Femenino', 'Masculino'])
               )][['Salario', 'Genero']].boxplot(by='Genero').set_title('Sueldo segun sexo')
#plt.title('Sueldo segun sexo')
plt.show()

In [ ]:
# Media de sueldo por mujeres
mark[mark.Genero == 'Femenino'][['Salario']].mean()

In [ ]:
# Media de sueldo por hombres
mark[mark.Genero == 'Masculino'][['Salario']].mean()

In [ ]:
# Distribución de salario
mark['Salario'].hist().set_title('Distribución de salario')
plt.show

In [ ]:
mark.plot.scatter(x="Salario", y='Monto', alpha = 0.7);

In [ ]:
# Scatter plot:
#sns.set()
cols = ['Salario', 'Monto']
sns.pairplot(mark[cols], #data y sus columnas seleccionadas
             height = 2.5) #tamaño de la gráfica
plt.show();

[Ir a inicio](#beginning)
____

<a id='part4'></a>
## Codificación y particionamiento de datos

**Descripción:** Los datos están relacionados con campañas de marketing directo de una institución bancaria portuguesa. Las campañas de marketing se basaron en llamadas telefónicas. A menudo, se requería más de un contacto con el mismo cliente para acceder si el producto (depósito bancario a plazo) estaría ('sí') o no ('no') suscrito.

**Variables de entrada:**

**datos del cliente bancario:**

   1 - age :edad del cliente (numérico)
   
   2 - job: tipo de trabajo (categórico: "administrador", "desconocido", "desempleado", "gerencia", "empleada doméstica", "empresario", "estudiante",
                                       "obrero", "autónomo", "jubilado", "técnico", "servicios")
                                       
   3 - marital: estado civil (categórico: "casado", "divorciado", "soltero"; nota: "divorciado" significa divorciado o viudo)
   
   4 - education :educacion del cliente (categórica: "desconocido", "secundario", "primario", "terciario")
   
   5 - default: incumplimiento del cliente ¿tiene crédito en incumplimiento? (binario: "sí", "no")
   
   6 - balance: saldo medio anual, en euros (numérico)
   
   7 - housing: tiene préstamo de vivienda? (binario: "sí", "no")
   
   8 - loan: tiene préstamo personal? (binario: "sí", "no")
   
**relacionado con el último contacto de la campaña actual:**

   9 - contact: tipo de comunicación de contacto (categórico: "desconocido", "teléfono", "celular")
   
  10 day: último día de contacto del mes (numérico)
  
  11 month: último contacto del mes del año (categórico: "ene", "feb", "mar", ..., "nov", "dec")
  
  12 - duration: duración del último contacto, en segundos (numérico)
  
**otros atributos:**

  13 - campaign: número de contactos realizados durante esta campaña y para este cliente (numérico, incluye el último contacto)
  
  14 pdays: número de días que pasaron después de que el cliente fue contactado por última vez desde una campaña anterior (numérico, -1 significa que el cliente no fue contactado previamente)
  
  15 - previous: número de contactos realizados antes de esta campaña y para este cliente (numérico)
  
  16 - poutcome: resultado de la campaña de marketing anterior (categórico: "desconocido", "otro", "fracaso", "éxito")

**Variable de salida (objetivo deseado):**

  17 - y - ¿el cliente ha suscrito un depósito a plazo? (binario: "sí", "no")

**Fuente :** [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

In [34]:
import pandas as pd
import numpy as np

In [35]:
FileCSV=R"C:\Users\sergi\OneDrive\Documentos\SIR_personal\Python_SDC_HP-i3\bank.csv"
df_bank=pd.read_csv(FileCSV,sep=";")
df_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
#Representacion de el numero de observaciones de cada clase que pertenecen a la variable predictora "y"
import matplotlib.pyplot as plt
%matplotlib inline
count_classes = pd.value_counts(df_bank['y'], sort = True)
count_classes.plot(kind = 'bar', rot=0)
plt.xticks(range(2))
plt.title("Frecuencia de número de observaciones")
plt.xlabel("ocurrencia de suscripcion")
plt.ylabel("número de observaciones")

## Codificar las variables categoricas

In [ ]:
from collections import defaultdict
from sklearn import preprocessing

In [ ]:
#Defino el diccionario con la funcion LabelEncoder(que se usa para convertir los object en numerico
d = defaultdict(preprocessing.LabelEncoder)
type(d)

In [ ]:
# Agrupando columnas por tipo de datos
tipos = df_bank.columns.to_series().groupby(df_bank.dtypes).groups
#df_bank: la data
#groupby()
tipos

In [ ]:
#Generar la lista de solo los nombres de las columna de tipo object
list_text=list(tipos[np.dtype('object')])
list_text

In [ ]:
#lambda x: d[x.name].fit_transform(x) if x.name in list_text else x
#Solo se aplica d[x.name].fit_transform(x) la transformacion 
#si el nombre se encuentra en la lista(if x.name in list_text)
#de lo contrario no se realiza ninguna transformacion(x)
# Codificar las variables
fit=df_bank.apply(lambda x: d[x.name].fit_transform(x) if x.name in list_text else x)
# Invertir el codificado(Necesario para entrenar al fit si quieres invertir el cambio
fit.apply(lambda x: d[x.name].inverse_transform(x) if x.name in list_text else x)
# Usando el diccionario para etiquetar datos futuros
df_bank=df_bank.apply(lambda x: d[x.name].transform(x) if x.name in list_text else x)
df_bank.head()

In [ ]:
#Como obtener cada clase de la variable "target" = y
class_y=list(d['y'].classes_)
class_y

In [ ]:
#El numero correspondiente de cada clase de la lista "target"
d['y'].transform(class_y)

## Particionar un conjunto de datos en entrenamiento y prueba

In [ ]:
from sklearn.model_selection import train_test_split

X, y = df_bank.iloc[:, 0:16].values, df_bank.iloc[:, 16].values

X_train, X_test, y_train, y_test =\
    train_test_split(X, y, 
                     test_size=0.3, #El 30% de la data se utilizara para el testeo
                     random_state=0, 
                     stratify=y)

[Ir a inicio](#beginning)
____

<a id='part5'></a>

## Laboratorio 5

### Descripción

Este conjunto de datos es un subconjunto de la Encuesta nacional de prevalencia de anticonceptivos de Indonesia de 1987. Las muestras son mujeres casadas que no estaban embarazadas o no saben si estaban en el momento de la entrevista. El problema es predecir la elección actual del método anticonceptivo (sin uso, métodos a largo plazo o métodos a corto plazo) de una mujer en función de sus características demográficas y socioeconómicas.

### Información del atributo:

1. Edad de la esposa (numérica)

2. Educación de la esposa (categórica) 1 = baja, 2, 3, 4 = alta

3. Educación del esposo (categórica) 1 = baja, 2, 3, 4 = alta

4. Número de hijos nacidos (numérico)

5. Religión de la esposa (binaria) 0 = No Islam, 1 = Islam

6. ¿La esposa ahora está trabajando? (binario) 0 = Sí, 1 = No

7. Ocupación del esposo (categórica) 1, 2, 3, 4

8. Índice de nivel de vida (categórico) 1 = bajo, 2, 3, 4 = alto

9. Exposición a los medios (binario) 0 = Bueno, 1 = No bueno

10. Método anticonceptivo utilizado (atributo de clase) 1 = Sin uso, 2 = A largo plazo, 3 = A corto plazo

Actividades:

1-Graficar el numero y porcentaje de religion de la esposa.

2-Segmentacion de la edad de la esposa.

3-Grafica de boxplot de la edad de la esposa.

4-Graficar el diagrama de dispersion y el histrograma para mostrar la relacion entre las variables edad de la esposa y número de hijos nacidos.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

df_metodoanticonceptivo = pd.read_csv('https://query.data.world/s/kmtzduntrfduzq7ock75atyluguk6z')

In [ ]:
df_metodoanticonceptivo.columns = ['edad_esposa', 'educacion_esposa', 'educacion_esposo', 'numero_hijos_nacidos',
                   'religion_esposa', 'trabaja_esposa', 'ocupacion_esposo',
                   'ind_nivel_vida', 'expo_medios', 'metodo_anticonceptivo']
df_metodoanticonceptivo.head()